<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	

<mapper namespace="com.thinkit.cloud.flows.dao.FlowTaskActorHistMapper">
    <resultMap id="flowTaskActorHistResult" type="com.thinkit.cloud.flows.bean.FlowTaskActorHist">
   	  	<result property="id" column="id" jdbcType="BIGINT"   />
   	  	<result property="taskId" column="TASK_ID" jdbcType="BIGINT"   />
   	  	<result property="actorId" column="ACTOR_ID" jdbcType="VARCHAR"   />
   	  	<result property="createUserId" column="create_user_id" jdbcType="BIGINT"   />
   	  	<result property="createUserName" column="create_user_name" jdbcType="VARCHAR"   />
   	  	<result property="createTime" column="create_time" jdbcType="TIMESTAMP"   />
   	  	<result property="updateUserId" column="update_user_id" jdbcType="BIGINT"   />
   	  	<result property="updateUserName" column="update_user_name" jdbcType="VARCHAR"   />
   	  	<result property="updateTime" column="update_time" jdbcType="TIMESTAMP"   />
    </resultMap>

	<sql id="Base_Column_List">
	    <![CDATA[
	   
        	id ,
        	TASK_ID ,
        	ACTOR_ID ,
        	create_user_id ,
        	create_user_name ,
        	create_time ,
        	update_user_id ,
        	update_user_name ,
        	update_time 
	    ]]>
	</sql>

   <select id="selectByPrimaryKey" resultMap="flowTaskActorHistResult">
	 select 
	    <include refid="Base_Column_List"/>
	    
	        from flow_task_actor_hist 
	        where 
		       id = #{id,jdbcType=BIGINT}
			
</select>

 <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
           delete from flow_task_actor_hist where
        id = #{id,jdbcType=BIGINT}
	
       </delete>

 <insert id="insert" useGeneratedKeys="true" keyProperty="id">

        INSERT INTO flow_task_actor_hist (
         id, TASK_ID, ACTOR_ID, create_user_id, create_user_name, create_time, update_user_id, update_user_name, update_time
        ) VALUES (
         #{id,jdbcType=BIGINT}, #{taskId,jdbcType=BIGINT}, #{actorId,jdbcType=VARCHAR}, #{createUserId,jdbcType=BIGINT}, #{createUserName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=BIGINT}, #{updateUserName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}        
        )
   
</insert>

 <insert id="insertSelective" parameterType="com.thinkit.cloud.flows.bean.FlowTaskActorHist">
          INSERT INTO flow_task_actor_hist 
	         <trim prefix="(" suffix=")" suffixOverrides="," >
	    	<if test="id != null" >
        		id,
     	 	</if>
	    	<if test="taskId != null" >
        		TASK_ID,
     	 	</if>
	    	<if test="actorId != null" >
        		ACTOR_ID,
     	 	</if>
	    	<if test="createUserId != null" >
        		create_user_id,
     	 	</if>
	    	<if test="createUserName != null" >
        		create_user_name,
     	 	</if>
	    	<if test="createTime != null" >
        		create_time,
     	 	</if>
	    	<if test="updateUserId != null" >
        		update_user_id,
     	 	</if>
	    	<if test="updateUserName != null" >
        		update_user_name,
     	 	</if>
	    	<if test="updateTime != null" >
        		update_time,
     	 	</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >

	    		<if test="id != null" >
        		     #{id,jdbcType=BIGINT},
     	 		</if>
	    		<if test="taskId != null" >
        		     #{taskId,jdbcType=BIGINT},
     	 		</if>
	    		<if test="actorId != null" >
        		     #{actorId,jdbcType=VARCHAR},
     	 		</if>
	    		<if test="createUserId != null" >
        		     #{createUserId,jdbcType=BIGINT},
     	 		</if>
	    		<if test="createUserName != null" >
        		     #{createUserName,jdbcType=VARCHAR},
     	 		</if>
	    		<if test="createTime != null" >
        		     #{createTime,jdbcType=TIMESTAMP},
     	 		</if>
	    		<if test="updateUserId != null" >
        		     #{updateUserId,jdbcType=BIGINT},
     	 		</if>
	    		<if test="updateUserName != null" >
        		     #{updateUserName,jdbcType=VARCHAR},
     	 		</if>
	    		<if test="updateTime != null" >
        		     #{updateTime,jdbcType=TIMESTAMP},
     	 		</if>
		</trim>
 </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.thinkit.cloud.flows.bean.FlowTaskActorHist">
    
        UPDATE flow_task_actor_hist 
     
      <set >
				<if test="taskId != null ">
				TASK_ID = #{taskId,jdbcType=BIGINT} ,
				</if>
				<if test="actorId != null and  actorId != ''" >
				ACTOR_ID = #{actorId,jdbcType=VARCHAR} ,
				</if>
				<if test="createUserId != null ">
				create_user_id = #{createUserId,jdbcType=BIGINT} ,
				</if>
				<if test="createUserName != null and  createUserName != ''" >
				create_user_name = #{createUserName,jdbcType=VARCHAR} ,
				</if>
				<if test="createTime != null ">
				create_time = #{createTime,jdbcType=TIMESTAMP} ,
				</if>
				<if test="updateUserId != null ">
				update_user_id = #{updateUserId,jdbcType=BIGINT} ,
				</if>
				<if test="updateUserName != null and  updateUserName != ''" >
				update_user_name = #{updateUserName,jdbcType=VARCHAR} ,
				</if>
				<if test="updateTime != null ">
				update_time = #{updateTime,jdbcType=TIMESTAMP} ,
				</if>

	 </set>
        WHERE 
	        id = #{id,jdbcType=BIGINT}
		
    </update>
   
    <update id="updateByPrimaryKey" >

        UPDATE flow_task_actor_hist SET
	        TASK_ID = #{taskId} , ACTOR_ID = #{actorId} , create_user_id = #{createUserId} , create_user_name = #{createUserName} , create_time = #{createTime} , update_user_id = #{updateUserId} , update_user_name = #{updateUserName} , update_time = #{updateTime}  
        WHERE 
		id = #{id,jdbcType=BIGINT}
		 
  
</update>
    
    <select id="select" resultMap="flowTaskActorHistResult">
	 select 
    	<include refid="Base_Column_List"/>
	   
	        from flow_task_actor_hist WHERE 1=1  
	  
			<if test="id != null ">
			and   id = #{id,jdbcType=BIGINT}
			</if>
			<if test="taskId != null ">
			and   TASK_ID = #{taskId,jdbcType=BIGINT}
			</if>
			<if test="actorId != null and  actorId != ''" >
				and   ACTOR_ID like concat('%', #{actorId,jdbcType=VARCHAR}, '%')
			</if>
			<if test="createUserId != null ">
			and   create_user_id = #{createUserId,jdbcType=BIGINT}
			</if>
			<if test="createUserName != null and  createUserName != ''" >
				and   create_user_name like concat('%', #{createUserName,jdbcType=VARCHAR}, '%')
			</if>
			<if test="createTime != null ">
			and   create_time = #{createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="updateUserId != null ">
			and   update_user_id = #{updateUserId,jdbcType=BIGINT}
			</if>
			<if test="updateUserName != null and  updateUserName != ''" >
				and   update_user_name like concat('%', #{updateUserName,jdbcType=VARCHAR}, '%')
			</if>
			<if test="updateTime != null ">
			and   update_time = #{updateTime,jdbcType=TIMESTAMP}
			</if>
		
    </select>
      
<select id="selectByExample" resultMap="flowTaskActorHistResult" >
	 select 
		<include refid="Base_Column_List"/>
   	       	   from flow_task_actor_hist WHERE 1=1  
	  
			<if test="id != null ">
			and   id = #{id,jdbcType=BIGINT}
			</if>
			<if test="taskId != null ">
			and   TASK_ID = #{taskId,jdbcType=BIGINT}
			</if>
			<if test="actorId != null and  actorId != ''" >
				and   ACTOR_ID like concat('%', #{actorId,jdbcType=VARCHAR}, '%')
			</if>
			<if test="createUserId != null ">
			and   create_user_id = #{createUserId,jdbcType=BIGINT}
			</if>
			<if test="createUserName != null and  createUserName != ''" >
				and   create_user_name like concat('%', #{createUserName,jdbcType=VARCHAR}, '%')
			</if>
			<if test="createTime != null ">
			and   create_time = #{createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="updateUserId != null ">
			and   update_user_id = #{updateUserId,jdbcType=BIGINT}
			</if>
			<if test="updateUserName != null and  updateUserName != ''" >
				and   update_user_name like concat('%', #{updateUserName,jdbcType=VARCHAR}, '%')
			</if>
			<if test="updateTime != null ">
			and   update_time = #{updateTime,jdbcType=TIMESTAMP}
			</if>
					
  </select>

<select id="selectByPageExample" resultType="java.util.HashMap" >
	 select 
		<include refid="Base_Column_List"/>
   	       	   from flow_task_actor_hist WHERE 1=1  
	  
			<if test="id != null ">
			and   id = #{id,jdbcType=BIGINT}
			</if>
			<if test="taskId != null ">
			and   TASK_ID = #{taskId,jdbcType=BIGINT}
			</if>
			<if test="actorId != null and  actorId != ''" >
				and   ACTOR_ID like concat('%', #{actorId,jdbcType=VARCHAR}, '%')
			</if>
			<if test="createUserId != null ">
			and   create_user_id = #{createUserId,jdbcType=BIGINT}
			</if>
			<if test="createUserName != null and  createUserName != ''" >
				and   create_user_name like concat('%', #{createUserName,jdbcType=VARCHAR}, '%')
			</if>
			<if test="createTime != null ">
			and   create_time = #{createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="updateUserId != null ">
			and   update_user_id = #{updateUserId,jdbcType=BIGINT}
			</if>
			<if test="updateUserName != null and  updateUserName != ''" >
				and   update_user_name like concat('%', #{updateUserName,jdbcType=VARCHAR}, '%')
			</if>
			<if test="updateTime != null ">
			and   update_time = #{updateTime,jdbcType=TIMESTAMP}
			</if>
		
		<if test="sortName!= null and  sortName != ''" >
			order by ${sortName}  ${sortOrder}
		</if>
			
  </select>

</mapper>
